extends ../template

block variables
    - var title = 'Корзина'

block content
  .wrapper
    .mask-container
    .container
      header.header
        .header__row
          .logo
            a(href="#").logo__link
              img(src="assets/images/content/logo.png", alt="logo").logo__link-pic
          form.search(method="post")
            .search__text 
              input(type="text" name="search").search__text-input
              label.visuallyhidden.search__text-label Поиск
            input(type="submit" value="Поиск").search__submit
        nav.nav.nav_margin
          ul.menu-list
            li.menu-list__item
              a(href="#").menu-list__item-link Каталог продукции
            li.menu-list__item
              a(href="#").menu-list__item-link Все бренды
            li.menu-list__item
              a(href="#").menu-list__item-link Подаркина на 14 февроля
            li.menu-list__item
              a(href="#").menu-list__item-link Подаркина на 23 февроля
            li.menu-list__item
              a(href="#").menu-list__item-link Подаркина на 8 марта
      main.main.main_margin
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href="#").breadcrumbs__item-link Главная
          li.breadcrumbs__item 
            a(href="#").breadcrumbs__item-link Корзина
        h1.block-title.block-title_margin Корзина
        .basket-content
          .basket-content__goods.all-goods
            .all-goods__allocated Выделено 
              span.all-goods__allocated-number  {{ quantityCheck(checkedNames) }} 
            button.all-goods__delete(v-on:click="reset(checkedNames)") Удалить отмеченные


          ul.basket-content__list.basket
            li.basket__item.product(v-for="(it, index) in item" )
              .basket__item-col.product__checked
                label(:for="`${ index + 1}`").product__checked-torggle.item-checkbox 
                    span.visuallyhidden Товар
                    input(type="checkbox", name="checkbox", :value="`${ index}`", :id="`${ index + 1}`"  v-model="checkedNames").item-checkbox__input.visuallyhidden
                    .item-checkbox__fake
                      .item-checkbox__fake_flag    
                    .item-checkbox__title {{index + 1 }}
              .basket__item-col.product__image
                img( v-bind:src="`${ it.image }`",alt="Товар").product__image-pic
              .basket__item-col.product__info
                p {{ it.info }}
              .basket__item-col.product__price.price
                .price__one {{ it.priseOne }} p
                .price__number(v-on:click="windowGoods(index)", :id="`modal${ index + 1}`")
                  input(type="text" name="price", :value="`${ it.number }`", disabled).price__number-input
                  label(for="price").visuallyhidden Количество товара
                .price__full {{ it.priseFull }} p
              .basket__item-message.window-product(v-bind:class= "{ visuallyhidden: windowCheck[index]}") {{uno(index)}}
                .window-product__title Изменить колличество
                .window-product__price.window-product__price_margin
                  .window-product__price-one {{ tmpPrice[index].tempOne }} p
                  button.window-product__price-minus(v-on:click="minus(index)") -
                  .window-product__price-text 
                    input(type="text" name="win-text", v-model="tmpPrice[index].num").window-product__price-text_input#text
                    label(for="price" name="win-price").visuallyhidden Количество товара
                  button.window-product__price-plus(v-on:click="plus(index)") +
                  .window-product__price-full {{ tmpPrice[index].tempFull }} p  
                .window-product__error(v-bind:class= "{ visuallyhidden: error}") Введите число          
                .window-product__button
                  button.window-product__button-save(v-on:click="save(index)") Сохранить
                  button.window-product__button-back Отменить







            //li.basket__item.product(v-if="lines[0].line1", )
              .basket__item-col.product__checked
                label(for="checkbox1").product__checked-torggle.item-checkbox 
                    span.visuallyhidden Товар
                    input(type="checkbox", name="checkbox" value="1" id="checkbox1"  v-model="checkedNames").item-checkbox__input.visuallyhidden
                    .item-checkbox__fake
                      .item-checkbox__fake_flag    
                    .item-checkbox__title 1
              .basket__item-col.product__image
                img( v-bind:src="`${ item[0].image }`",alt="Товар").product__image-pic
              .basket__item-col.product__info
                p {{ item[0].info }}
              .basket__item-col.product__price.price
                .price__one {{ item[0].priseOne }} p
                .price__number(v-on:click="windowGoods(0)")#modal1
                  input(type="text" name="price", :value="`${ item[0].number }`", disabled).price__number-input
                  label(for="price").visuallyhidden Количество товара
                .price__full {{ item[0].priseFull }} p
              .basket__item-message.window-product(v-bind:class= "{ visuallyhidden: windowCheck[0]}") {{uno(0)}}
                .window-product__title Изменить колличество
                .window-product__price.window-product__price_margin
                  .window-product__price-one {{ tmpPrice[0].tempOne }} p
                  button.window-product__price-minus(v-on:click="minus(0)") -
                  .window-product__price-text 
                    input(type="text" name="win-text", v-model="tmpPrice[0].num").window-product__price-text_input#text
                    label(for="price" name="win-price").visuallyhidden Количество товара
                  button.window-product__price-plus(v-on:click="plus(0)") +
                  .window-product__price-full {{ tmpPrice[0].tempFull }} p  
                .window-product__error(v-bind:class= "{ visuallyhidden: error}") Введите число          
                .window-product__button
                  button.window-product__button-save(v-on:click="save(0)") Сохранить
                  button.window-product__button-back Отменить




            //li.basket__item.product(v-if="lines[0].line2")
              .basket__item-col.product__checked
                label(for="checkbox2").product__checked-torggle.item-checkbox 
                    span.visuallyhidden Товар
                    input(type="checkbox", name="checkbox" value="2" id="checkbox2" v-model="checkedNames" ).item-checkbox__input.visuallyhidden
                    .item-checkbox__fake
                      .item-checkbox__fake_flag    
                    .item-checkbox__title 2
              .basket__item-col.product__image
                img(v-bind:src="`${ item[1].image }`", alt="Товар").product__image-pic
              .basket__item-col.product__info
                p {{ item[1].info }}
              .basket__item-col.product__price.price
                .price__one {{ item[1].priseOne }} p
                .price__number#modal2(v-on:click="windowGoods(1)")
                  input(type="text" name="price",:value="`${ item[1].number }`" disabled).price__number-input
                  label(for="price").visuallyhidden Количество товара
                .price__full {{ item[1].priseFull }} p
              .basket__item-message.window-product(v-bind:class= "{ visuallyhidden: windowCheck[1]}") {{uno(1)}}
                .window-product__title Изменить колличество
                .window-product__price.window-product__price_margin
                  .window-product__price-one {{ tmpPrice[1].tempOne }} p
                  button.window-product__price-minus(v-on:click="minus(1)") -
                  .window-product__price-text 
                    input(type="text" name="win-text", v-model="tmpPrice[1].num").window-product__price-text_input
                    label(for="price" name="win-price").visuallyhidden Количество товара
                  button.window-product__price-plus(v-on:click="plus(1)") +
                  .window-product__price-full {{ tmpPrice[1].tempFull }} p          
                .window-product__button
                  button.window-product__button-save(v-on:click="save(1)") Сохранить
                  button.window-product__button-back Отменить
            //li.basket__item.product(v-if="lines[0].line3")
              .basket__item-col.product__checked
                label(for="checkbox3").product__checked-torggle.item-checkbox 
                    span.visuallyhidden Товар
                    input(type="checkbox", name="checkbox" value="3" id="checkbox3" v-model="checkedNames").item-checkbox__input.visuallyhidden
                    .item-checkbox__fake
                      .item-checkbox__fake_flag    
                    .item-checkbox__title 3
              .basket__item-col.product__image
                img(v-bind:src="`${ item[2].image }`", alt="Товар").product__image-pic
              .basket__item-col.product__info
                p {{ item[2].info }} p
              .basket__item-col.product__price.price
                .price__one {{ item[2].priseOne }} p
                .price__number#modal3(v-on:click="windowGoods(2)")
                  input(type="text" name="price",:value="`${ item[2].number }`" disabled).price__number-input
                  label(for="price").visuallyhidden Количество товара
                .price__full {{ item[2].priseFull }} р
              .basket__item-message.window-product(v-bind:class= "{ visuallyhidden: windowCheck[2]}") {{uno(2)}}
                .window-product__title Изменить колличество
                .window-product__price.window-product__price_margin
                  .window-product__price-one {{ tmpPrice[2].tempOne }} p
                  button.window-product__price-minus(v-on:click="minus(2)") -
                  .window-product__price-text 
                    input(type="text" name="win-text", v-model="tmpPrice[2].num").window-product__price-text_input
                    label(for="price" name="win-price").visuallyhidden Количество товара
                  button.window-product__price-plus(v-on:click="plus(2)") +
                  .window-product__price-full {{ tmpPrice[2].tempFull }} p          
                .window-product__button
                  button.window-product__button-save(v-on:click="save(2)") Сохранить
                  button.window-product__button-back Отменить  
          .basket-content__intermediate
            .intermediate-price
              .intermediate-price__row
                .intermediate-price__text Промежутосный итог по корзине:
                .intermediate-price__number {{ interval() }} p
              .intermediate-price__row
                .intermediate-price__text В том числе НДС:
                .intermediate-price__number  {{ nds }} p
          .basket-content__full-price.full-price
            .full-price__text  Итого:
            .full-price__number {{ Itog }} р
  